.contact-form {
  display: none;
  width: 80%;
  max-width: 900px;
  margin: 0 auto 3rem;
  flex-direction: column;

  .contact-form__inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;

    input {
      border-radius: 1rem;
      padding-left: 1rem;
    }
  }

  textarea {
    width: 100%;
  }

  .contact-form__inputs input,
  textarea,
  select {
    border: 1px solid lightgray;
  }

  .contact-form__inputs input::placeholder,
  textarea::placeholder {
    font-size: 0.75rem;
  }

  input[type="submit"] {
    margin-left: auto;
    margin-top: 1rem;
    border-radius: 1.6rem;
    background-color: var(--fancy-color);
    color: white;
    padding: 0.4rem 1rem;
    font-size: 1.3rem;
    border: 0;
  }

  option,
  select {
    font-size: 0.75rem;
  }

  select {
    position: relative;
    color: gray;
    width: 100%;
    display: inline-block;
    border-radius: 1rem;
    padding: 0.4rem;
    background: url("../UTILITIES/IMGS/chevron-down.png") no-repeat right white;
    appearance: none;
    background-position-x: 95%;

  }

  @media only screen and (min-width: 768px) {
    .contact-form__inputs {
      flex-direction: row;
      gap: 0;
    }

    input,
    select {
      width: 33%;
    }
  }
}