#hero {
  position: relative;
  width: 100%;
  height: auto;
}

#hero__img {
  position: relative;
  width: 100%;
}

#hero__text {
  position: absolute;
  left: 50%;
  top: 15rem;
}

#hero__text h1 {
  font-family: var(--fancy-font);
  color: var(--fancy-color);
  font-size: calc(2.2vw + 1rem);
  user-select: none;
  text-shadow: 2px 2px 20px #503d3d;
}

#hero__button {
  position: absolute;
  display: inline-block;
  font-family: var(--fancy-font);
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 0.5rem;
  top: 32vw;
  left: 60vw;
  width: 15rem;
  height: 3rem;
  background-color: var(--fancy-color);
  border-radius: 2.1rem;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  box-shadow: 5px 5px 20px #503d3d;
  transition: .2s ease-in;
}

#hero__button:hover {
  box-shadow: 2px 2px 10px #503d3d;
}

img[alt*="facebook"] {
  display: inline;
  position: fixed;
  bottom: 4rem;
  left: 1rem;
  z-index: 99;
  width: 60px;
  height: 60px;
}

.offer-container {
  padding: 3rem 0 0;
}

.offer__desktop,
.offer__mobile {
  width: 100%;
}

.offer__desktop {
  display: block;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 1rem;
}

.offer__mobile {
  display: none;
}

#kontakt {
  width: 60%;
  margin: 3rem auto;
  position: relative;
  display: flex;
  height: auto;
  justify-content: space-between;
  font-family: var(--main-font);
}

#adresa {
  background-color: #c7c7c7;
  width: 40%;
  padding: 3rem;
  border-radius: 1rem;
}

a[href*="mailto"] {
  color: #3700ff;
}

#otvhod {
  width: 40%;
  background-color: #c7c7c7;
  padding: 3rem;
  border-radius: 1rem;
}

#otvhod span {
  font-size: 0.7rem;
}

.contact-form {
  width: 100%;
  scroll-margin-top: 10rem;

  .contact-form__inputs {
    display: flex;
    justify-content: space-between;
  }
}

.cookie-banner {
  position: fixed;
  width: 80%;
  max-width: 40rem;
  display: flex;
  inset: auto 1rem 1rem 1rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #000000d1;
  padding: 1.5rem;
  z-index: 100;

  .cookie-banner__text {
    color: white;
    font-size: 0.75rem;
  }

  .cookie-banner__close {
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }

}

.cookie-banner--hidden {
  display: none;
}