#hero {
  position: relative;
  width: 100%;
  height: auto;
}

#hero__img {
  position: relative;
  width: 100%;
}

#hero__text {
  position: absolute;
  left: 50%;
  top: 15rem;
}

#hero__text h1 {
  font-family: var(--fancy-font);
  color: var(--fancy-color);
  font-size: calc(2.2vw + 1rem);
  user-select: none;
  text-shadow: 2px 2px 20px #503d3d;
}

#hero__button {
  position: absolute;
  display: inline-block;
  font-family: var(--fancy-font);
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 0.5rem;
  top: 32vw;
  left: 60vw;
  width: 15rem;
  height: 3rem;
  background-color: var(--fancy-color);
  border-radius: 2.1rem;
  text-align: center;
  color: white;
  letter-spacing: 3px;
  box-shadow: 5px 5px 20px #503d3d;
  transition: .2s ease-in;
}

#hero__button:hover {
  box-shadow: 2px 2px 10px #503d3d;
}

img[alt*="facebook"] {
  display: inline;
  position: fixed;
  bottom: 4rem;
  left: 1rem;
  z-index: 99;
  width: 60px;
  height: 60px;
}

.offer-container {
  padding: 3rem 0 0;
}

.offer__desktop,
.offer__mobile {
  width: 100%;
}

.offer__desktop {
  display: block;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 1rem;
}

.offer__mobile {
  display: none;
}

#kontakt {
  width: 60%;
  margin: 3rem auto;
  position: relative;
  display: flex;
  height: auto;
  justify-content: space-between;
  font-family: var(--main-font);
}

#adresa {
  background-color: #c7c7c7;
  width: 40%;
  padding: 3rem;
  border-radius: 1rem;
}

a[href*="mailto"] {
  color: #3700ff;
}

#otvhod {
  width: 40%;
  background-color: #c7c7c7;
  padding: 3rem;
  border-radius: 1rem;
}

#otvhod span {
  font-size: 0.7rem;
}

.contact-form {
  width: 100%;
  scroll-margin-top: 10rem;

  .contact-form__inputs {
    display: flex;
    justify-content: space-between;
  }
}

.cookie-banner {
  position: fixed;
  width: 80%;
  max-width: 40rem;
  display: flex;
  inset: auto 1rem 1rem 1rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: #000000d1;
  padding: 1.5rem;
  z-index: 100;

  .cookie-banner__text {
    color: white;
    font-size: 0.75rem;
  }

  .cookie-banner__close {
    font-size: 3rem;
    color: white;
    cursor: pointer;
  }

}

.cookie-banner--hidden {
  display: none;
}

@media only screen and (max-width: 1630px) {
  #nav-link__last {
    margin-right: 10rem;
  }

  #kontakt {
    width: 80%;
  }

  #adresa,
  #otvhod {
    width: 45%;
  }

  .container-sys {
    width: 100%;
  }
}

@media only screen and (max-width: 1460px) {
  #hero__button {
    top: 28rem;
    font-size: 1rem;
    width: 13rem;
    padding-top: 0.8rem;
  }
}

@media only screen and (max-width: 1360px) {
  #nav-link__last {
    margin-right: 2rem;
  }

  #hero__text {
    top: 13rem;
  }

  #hero-sys {
    padding: 3rem 8rem;
  }

  .row {
    width: 100%;
  }
}

@media only screen and (max-width: 1265px) {
  #kontakt {
    width: 85%;
  }
}

@media only screen and (max-width: 1199px) {
  #hero__text {
    top: 12rem;
  }

  #hero__button {
    top: 24rem;
    font-size: 0.8rem;
    width: 11rem;
    padding-top: 0.9rem;
  }

  .navbar-collapse {
    padding-top: 2rem;
  }

  img[src*="right"] {
    bottom: -.4rem;
    right: -5rem;
    width: calc(1vw + .9rem);
    height: calc(1vw + .9rem);
    margin-right: 3rem;
  }

  img[src*="left"] {
    bottom: -.4rem;
    right: 5.5rem;
    width: calc(1vw + .9rem);
    height: calc(1vw + .9rem);
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 1100px) {
  #hero__text {
    top: 10rem;
  }

  #hero__text h1 {
    font-size: calc(2vw + 0.9rem);
    color: var(--fancy-color);
  }

  #hero__button {
    top: 21rem;
    font-size: 0.8rem;
    width: 11rem;
    padding-top: 0.9rem;
  }
}

@media only screen and (max-width: 1045px) {
  .container-main {
    width: 95%;
    gap: 3rem;
  }

  #title-sys {
    font-size: 1.5rem;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  #hero-sys b {
    font-size: calc(.9vw + .5rem);
  }

  .door-gallery a {
    font-size: calc(.9vw + .3rem);
  }

}

@media only screen and (max-width: 900px) {
  #hero__text {
    top: 6rem;
    font-weight: bold;
  }

  #hero__text h1 {
    font-size: calc(2vw + 0.5rem);
  }

  #hero__button {
    top: 15rem;
    width: 10rem;
    font-size: 0.7rem;
    padding-top: 0.7rem;
    height: 2.5rem;
  }

  .cookie-banner {
    width: 95%;
    inset: auto 1rem 1rem 1rem;
  }
}

@media only screen and (max-width: 810px) {
  #kontakt {
    width: 95%;
  }

  img[alt*="facebook"] {
    width: 40px;
    height: 40px;
  }

  #hero-sys {
    font-size: calc(0.7vw + .5rem);
  }
}

@media only screen and (max-width: 735px) {
  .offer__desktop {
    display: none;
  }

  .offer__mobile {
    display: block;
  }

  #kontakt {
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    width: 95%;
  }

  #adresa,
  #otvhod {
    width: 80%;
  }

  #title-sys:before,
  #title-sys::after {
    width: 40px;
  }

  #hero__button {
    padding-top: 0.5rem;
    height: 2rem;
  }

  .column {
    flex: 100%;
  }
}

@media only screen and (max-width: 680px) {
  #hero__button {
    top: 13rem;
    width: 10rem;
    font-size: 0.7rem;
    padding-top: 0.5rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  #hero__button {
    display: none;
  }

  #title-sys {
    font-size: 1.2rem;
  }

  #hero-sys {
    padding: 2rem 1rem;
  }

  a[alt*="facebook"] {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (max-width: 500px) {
  #hero__text {
    top: 3rem;
    left: 2rem;
    font-weight: bold;
  }

  #hero__text h1 {
    font-size: calc(2vw + 1rem);
    color: black;
    font-weight: bold;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #fff,
      0 0 82px #fff, 0 0 92px #fff, 0 0 102px #fff, 0 0 151px #fff;
  }

  #logo {
    clip-path: polygon(0 0, 32% 0, 32% 100%, 0% 100%);
  }
}

@media only screen and (max-width: 420px) {

  #adresa,
  #otvhod {
    width: 100%;
  }

  img[alt*="facebook"] {
    left: 5px;
  }
}